version: '3'

services:
  db:
    image: 'postgres:latest'
    restart: always
    env_file:
      - .env
    ports:
      - 5430:5432
    volumes:
      - ./db-data/:/var/lib/postgresql/data/
  cache:
    image: redis:6.2-alpine
    restart: always
    ports:
      - '6380:6379'
    command: redis-server --save 20 1 --loglevel warning --requirepass eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81
    volumes:
      - ./cache:/data



  django:
    build: ./demo_work
    restart: always
    command: gunicorn demo_work.wsgi:application --bind 0.0.0.0:8000
    env_file: .env
    volumes:
      - ./demo_work
    expose:
      - 8000
    depends_on:
      - db

  nginx_app:
    build: ./nginx
    ports:
      - 8000:8000
    depends_on:
      - django