version: '3'

services:
  db:
    image: 'postgres:latest'
    restart: always
    env_file:
      - .env
#    ports:
#      - 5430:5432
    volumes:
      - ./db-data/:/var/lib/postgresql/data/
  cache:
    image: redis:6.2-alpine
    restart: always
#    ports:
#      - '6380:6379'
    command: redis-server --save 20 1 --loglevel warning --requirepass
    volumes:
      - ./cache:/data
    depends_on:
      - db

  django:
    build: ./demo_work
    restart: always
    command: gunicorn demo_work.wsgi:application --bind 0.0.0.0:8000
    env_file: .env
    volumes:
      - ./demo_work
      - appfiles:/usr/src/Market/files:z
#    expose:
#     - 8000
    depends_on:
      - db
      - cache

  nginx_app:
    build: ./nginx
    image: redis:alpine
    ports:
      - 8000:8000
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - appfiles:/appfiles

    restart: unless-stopped
    depends_on:
      - django

volumes:
  appfiles: